<style>
  form{
    max-width: 550px;
    margin: 0 auto;
  }
  legend{
    margin-top: 10px;
  }
  h3{
    margin-top: 0px;
    margin-left: 20px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 270px;
    float: left;
    text-align: left;
    font-family: futura, "Trebuchet MS", Arial, sans-serif;
  }
  ng-map {
    width: 70%;
    height:150%;
    margin-right: 10px;
    float: right;
  }
  h4{
    max-width: 100px;
    margin-top: 300px;
    margin-left: 20px;
  }
  .box{
  width: 150px;
  height: 80px;
  border-color: black;
}
 
.white{
  background:#fff;
}
.hidden{
  display: none;
}
</style>


<section ng-controller="HomeController">
  <div id="map"></div>
  <br>
  <div class="boxed">
    <form>
    <legend> Toggle Between Different Displays: </legend>
      <p> </p>
        <p>
        <input type="checkbox" name="demographic" value="demographic" id="demographic">
          <label for="demographic"> Demographic Information &emsp; &emsp; &emsp; &emsp; &emsp;
          </label>
        <input type="checkbox" name="routes" value="routes" id="routes">
          <label for="routes"> Bus Routes
          </label>
        </p>
        <p>
        <input type="checkbox" name="demographic" value="demographic" id="demographic">
          <label for="demographic">  Travel Time Comparisons &emsp; &emsp; &emsp; &emsp; &emsp;
          </label>
        <input type="checkbox" name="routes" value="routes" id="routes">
          <label for="routes"> Heat Map
          </label>
        </p>
    </form>
  <br>
  <br>

<script >
var fs = require('fs');
var mongoose = require('mongoose');
var Schema = mongoose.Schema;
var Demo = require('./DemoSchema.js');
var config = require('./config');
var data = require('./demographics.json');
mongoose.connect(config.db.uri, { useMongoClient: true });
    $scope.32601 = Demo.find({zip: 32601});
    $scope.32603 = Demo.find({zip: 32603});
    $scope.32605 = Demo.find({zip: 32605});
    $scope.32606 = Demo.find({zip: 32606});
    $scope.32607 = Demo.find({zip: 32607});
    $scope.32608 = Demo.find({zip: 32608});
    $scope.32609 = Demo.find({zip: 32609});
    $scope.32641 = Demo.find({zip: 32641});
    $scope.32653 = Demo.find({zip: 32653});
</script>
<span style="display: inline;">
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
  <button type="button"> 32601 </button>
  &emsp;
  <button type="button"> 32603 </button>
  &emsp;
  <button type="button"> 32605 </button>
  &emsp;
  <button type="button"> 32606 </button>
  &emsp;
  <button type="button"> 32607 </button>
  &emsp;
  <button type="button"> 32608 </button>
  &emsp;
  <button type="button"> 32609 </button>
  &emsp;
  <button type="button"> 32641 </button>
  &emsp;
  <button type="button"> 32653 </button>
</span>
<br>
<br>
    <ng-map center="University of Florida" zoom ='11'>
      <transit-layer> </transit-layer>
      <traffic-layer> </traffic-layer>
      <marker position="[29.6422516,-82.3289111]" title="32601"> </marker>
        <custom-marker position="[29.6422516,-82.3289111]" title="32601">
         <div class="box white hidden">
           <p> zip code: 32601
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br>
            </p>
         </div>
        </custom-marker>
      <marker position="[29.6577485,-82.3479016]" title="32603"></marker>
        <custom-marker position="[29.6577485,-82.3479016]" title="32603"> 
         <div class="box white hidden">
           <p> zip code: 32603 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br>
            </p>
         </div>
        </custom-marker>
      <marker position="[29.6793128,-82.3723105]" title="32605"></marker>
        <custom-marker position="[29.6793128,-82.3723105]" title="32605"> 
         <div class="box white hidden">
           <p> zip code: 32605 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br>
            </p>
         </div>
        </custom-marker>
      <marker position="[29.6788293,-82.4644445]" title="32606"></marker>
        <custom-marker position="[29.6788293,-82.4644445]" title="32606"> 
         <div class="box white hidden">
           <p> zip code: 32606 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br> 
            </p>
         </div>
        </custom-marker>
      <marker position="[29.647247,-82.4156829]" title="32607"></marker>
        <custom-marker position="[29.647247,-82.4156829]" title="32607"> 
         <div class="box white hidden">
           <p> zip code: 32607 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br>
            </p>
         </div>
        </custom-marker>
      <marker position="[29.6156734,-82.3659168]" title="32608"></marker>
        <custom-marker position="[29.6156734,-82.3659168]" title="32608"> 
         <div class="box white hidden">
           <p> zip code: 32608 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br>
            </p>
         </div>
        </custom-marker>
      <marker position="[29.7935588,-82.2583297]" title="32609"></marker>
        <custom-marker position="[29.7935588,-82.2583297]" title="32609"> 
         <div class="box white hidden">
           <p> zip code: 32609 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br> 
            </p>
         </div>
        </custom-marker>
      <marker position="[29.6311155,-82.2365981]" title="32641"></marker>
        <custom-marker position="[29.6311155,-82.2365981]" title="32641"> 
         <div class="box white hidden">
           <p> zip code: 32641 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below poverty: <br>
            </p>
         </div>
        </custom-marker>
      <marker position="[29.7429556,-82.3777335]" title="32653"></marker>
        <custom-marker position="[29.7429556,-82.3777335]" title="32653"> 
         <div class="box white hidden">
           <p> zip code: 32653 <br>
           population: <br>
           median age: <br>
           number of houses: <br>
           median income: <br>
           percent below proverty: <br>
            </p>
         </div>
        </custom-marker>
    </ng-map>
    <h3>
      Detailed Information:
    </h3>

  <br>
  <br>
  <h4>
    <div id="floating-panel">
      <b>Start: </b>
        <select id="start">
          <option value="butler plaza, gainesville, fl">Butler Plaza</option>
          <option value="Oak's Mall, gainesville, fl">Oak's Mall</option>
          <option value="downtown gainesville, fl">Rosa Park's Downtown Station</option>
          <option value="santa fe, gainesville, fl">Santa Fe College</option>
        </select>
      <b>&emsp; &emsp; Destination: </b>
        <select id="end">
          <option value="butler plaza, gainesville, fl">Butler Plaza</option>
          <option value="Oak's Mall, gainesville, fl">Oak's Mall</option>
          <option value="downtown gainesville, fl">Rosa Park's Downtown Station</option>
          <option value="santa fe, gainesville, fl">Santa Fe College</option>
        </select>
    </div>
  </h4>
  </div>
</section>